@model SociumApp.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_NoHeaderLayout.cshtml";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Account</h4>
    <hr />
    <h2>Username: @Model.Username</h2>
</div>
