@using Microsoft.AspNet.Identity
<ul class="nav navbar-nav navbar-right">
    <li class="hidden">
        <a href="#page-top"></a>
    </li>
    <li>
        <a class="page-scroll" href="#services">Възможности</a>
    </li>
    <li>
        <a class="page-scroll" href="#portfolio">Socium-бот</a>
    </li>
    <li>
        <a class="page-scroll" href="#about">Помощ</a>
    </li>
    <li>
        <a class="page-scroll" href="#team">Автор</a>
    </li>
    <li>
        <a class="page-scroll" href="#contact">Обратна връзка</a>
    </li>
    @if (Request.IsAuthenticated)
    {
       
    }
    else
    {
        <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }
    
</ul>
