@model SociumApp.Models.QuestionViewModel
@{ 
    Layout = "../Shared/_NoHeaderLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="span6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="controls controls-row">
                    <h1>Задай въпрос</h1>
                </div>
                <div class="controls">
                    <label for="Title">Съдържание</label>
                    @Html.TextBoxFor(m => m.Title, htmlAttributes: new { @class = "form-control" })
                    <label for="DefaultOptionDesc">Отговор</label>
                    <input name="DefaultOptionDesc" type="text" class="form-control" />
                </div>

                <div class="controls">
                    <h2>
                        <input id="contact-submit" type="submit" value="Изпрати" class="btn btn-primary" />
                    </h2>
                </div>
            }            
        </div>
    </div>
</div>
