@model SociumApp.Models.QuestionViewModel
<div>
        <div>
    	    <div class="panel panel-default">
    		    <div class="panel-body">
    				<div class="col-md-12">
    					<div class="icerik-bilgi">
    						<a href="#"><h2>@Model.OwnerUsername:</h2></a>
    						<h4>@Model.Title</h4>
    						<div class="btn-group">
    							<a>Options count:@Model.Options.Count</a>
    						</div>
    						<a href="/Question/GetDetailed?id=@Model.Id">
    						 <button type="button" class="btn btn-primary">
    							<span class="btn btn-google">View more <i class="fa fa-chevron-right"></i></span>
    						 </button>
    						 </a>
    					</div>
    				</div>
    			</div>
    		</div>
        </div>
    </div>